
body { background: rgb(255, 255, 255); font-style: italic;}


h1 {color: rgb(37, 17, 83); font-size: 90px;}
h2 {font-style: normal;}
p.eerste {color: rgb(21, 60, 61);}
p.tweede {color: rgb(47, 60, 68);}
p.centreren {align-content: center;}
